* {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(0, 130, 80);
  height: 50px;
}

h1 {
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 25px;

}

body {
  height: 100vh;
  background-image: linear-gradient(rgb(232, 222, 169),rgb(255, 246, 244));
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


